

#header {
    background-color: black;
    display: flex;
    border-radius: 51px;
    box-shadow: 0px 0px 100px white;
    margin: 10px;
}

.light #header {
    background-color: lightgrey;
    display: flex;
    border-radius: 51px;
    box-shadow: 0px 0px 100px #000000;
    margin: 10px;
}

.light #interfaz {
    color: black;
}

.light .bloque {
    background-color: #ffffff;
    color: black;
    box-shadow: 0px 0px 20px red;
    border-radius: 30px;
    padding: 10px;
}

.light #switchCheckDefault   {
    width: 4rem;
    height: 2rem;
    margin-left: 1rem;
    background-color: black;
    outline-style: none;
}

#switchCheckDefault {
    width: 4rem;
    height: 2rem;
    margin-left: 1rem;
    background-color: white;
}

#logo {
    width: 10rem;
    margin-left: 44%;
    border-radius: 40px;
    margin-top:10px;
    margin-bottom: 10px;
}

#switch {
    margin-left: 10rem;
    margin-top: 4rem;
}

#content {
    display: flex;
    margin-top: 15rem;
}

.card{
    font-family: "Road Rage", sans-serif;
    border-radius: 10px;
}

.bloque {
    background-color: black;
    color: white;
    box-shadow: 0px 0px 20px red;
    border-radius: 30px;
    padding: 10px;
}

#interfaz{
    color: white;
}