{% load static %}
{% block header %}
    <div id="parte_arriba" class="d-flex justify-content-between">
        <div>
            <img class="logo" src="{% static 'Imagenes/Logo Restaurante.png' %}">
        </div>
        <div class="flex-grow-1 text-center">
            <p style="font-size: 80px">TODO AL ROJO</p>
        </div>
        <div>
            <nav class="navbar">
                 <button style="width: 110px; height: 110px; " class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <img style="width: 50%" src="{% static 'Imagenes/navbar.png' %}">
                 </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                      <div class="offcanvas-header">
                        <h2 class="offcanvas-title" id="offcanvasNavbarLabel"><a href="login"><img style="width: 4rem" src="{% static 'Imagenes/Inicio-sesion.png' %}"></a></h2>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                      </div>
                      <div class="offcanvas-body">
                          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#"><h3>Inicio <img class="iconosNavbar" src="{% static 'Imagenes/casa.png' %}" alt=""></h3></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#"><h3>Carta <img class="iconosNavbar" src="{% static 'Imagenes/carta.png' %}" alt=""></h3></a>
                              </li>
                               <li class="nav-item">
                                <a class="nav-link" href="#"><h3>Carrito <img class="iconosNavbar" src="{% static 'Imagenes/carrito-de-compras.png' %}" alt=""></h3></a>
                              </li>
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <h4>Modo Interfaz</h4>
                                </a>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="#"><h5>Claro</h5> <img style="width: 30px" src="{% static 'Imagenes/modo-claro.png' %}"></a></li>
                                  <li>
                                    <hr class="dropdown-divider">
                                  </li>
                                  <li><a class="dropdown-item" href="#"><h5>Oscuro  </h5><img style="width: 20px; margin-left: 4px" src="{% static 'Imagenes/modo-oscuro.png' %}"></a></li>
                                </ul>
                              </li>
                          </ul>
                      </div>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}